.about__stats {
  display: flex;
  justify-content: space-between;
  //   margin-bottom: 160px;
  .slick-list {
    margin: 0 -20px;
    @media (max-width: 1366px) {
      margin: 0 -10px;
    }
  }
}

.about__stats-item {
  margin: 0 20px;
  border: 1px solid #c5c7c4;
  border-radius: 20px 5px 20px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  span {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media (max-width: 1366px) {
      font-size: 44px;
    }
  }
  p {
    @media (max-width: 1366px) {
      font-size: 16px;
    }
  }
  @media (max-width: 1366px) {
    margin: 0 10px;
  }
}
