.aside {
  position: fixed;
  left: 0;
  top: 100px;
  width: 100px;
  flex: 1 0 auto;
  padding-top: 30px;
  padding-right: 30px;
  height: 100vh;
  z-index: 100;
  transition: all 0.3s;
  border-right: 1px solid #c5c7c4;
  background: #fff;
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    li {
      display: flex;
      // justify-content: center;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: 1919px) {
        margin-bottom: 30px;
      }
      @media (max-width: 1365px) {
        margin-bottom: 27px;
      }
    }
    a {
      display: flex;
      align-items: center;
      &:hover {
        p {
          color: #ff5700;
        }
      }
    }
    span {
      width: 55px;
      height: 55px;
      background: #ececec;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 auto;
      margin-right: 22px;
      // margin-left: 22px;
      img {
        @media (max-width: 1365px) {
          transform: scale(0.7);
        }
      }
      @media (max-width: 1919px) {
        width: 45px;
        height: 45px;
      }
      @media (max-width: 1365px) {
        width: 36px;
        height: 36px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: #1c1c1c;
      display: none;
    }
    @media (max-width: 1919px) {
      padding-left: 19px;
    }
    @media (max-width: 1365px) {
      padding-left: 16px;
    }
  }
  &.show {
    width: auto;
    border-radius: 0 10px 10px 0;
    background: #fff;
    transition: all 0.3s;
    p {
      display: block;
    }
  }
  @media (max-width: 1919px) {
    width: 88px;
    top: 88px;
  }
  @media (max-width: 1365px) {
    width: 70px;
    top: 70px;
    padding-top: 15px;
  }
  @media (max-width: 1023px) {
    left: -100%;
    opacity: 0;
    visibility: hidden;
  }
}
