.basket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.basket-header__count {
  font-size: 18px;
  font-weight: 400;
  color: #969696;
  @media (max-width: 1919px) {
    font-size: 16px;
  }
}

.basket-header__clear {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  @media (max-width: 1919px) {
    font-size: 18px;
  }
}