.basket__wrapper {
  display: flex;
  flex-direction: column;
}

.basket__fullprice {
  font-size: 24px;
  font-weight: 600;
  @media (max-width: 1919px) {
    font-size: 20px;
  }
}

.basket__total {
  font-size: 20px;
  font-weight: 500;
  @media (max-width: 1919px) {
    font-size: 18px;
  }
}

.basket__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  p {
    &:nth-child(2) {
      text-align: right;
    }
  }

  .button {
    margin-top: 30px;
    align-self: flex-end;
    margin-left: auto;
  }
}

.basket__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 50px;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
  }

  .button {
    align-self: center;
  }
}

.basket__item {
  &.item-product {
    align-items: center;
    display: grid;
    grid-template-areas:
    "title title single basket total cross"
    "article have single basket total cross";

    .item-product__cross {
      margin-left: auto;
    }

    .item-product__article {
      margin-right: 0;
    }

    .item-product__have {
      margin-left: -168px;
    }
  }
}