.block-picture__wrapper {
  display: flex;
  //   align-items: center;
  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.block-picture__item {
  &:first-child {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    @media (max-width: 1919px) {
      max-width: 568px;
    }
    @media (max-width: 1365px) {
      max-width: 100%;
      margin-right: 0;
    }
  }
  &:last-child {
    @media (max-width: 1365px) {
      display: none;
    }
  }
  &--mode {
    &:last-child {
      margin-left: 32px;
      @media (max-width: 1919px) {
        max-width: 568px;
      }
      @media (max-width: 1365px) {
        max-width: 100%;
        margin-right: 0;
      }
    }
    &:first-child {
      @media (max-width: 1365px) {
        display: none;
      }
    }
  }
}

.block-picture__text {
  margin: 0;
  margin-bottom: 40px;
  -webkit-line-clamp: 13;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  ul {
    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 44px;
      line-height: 1.5;
      &:before {
        content: "";
        position: absolute;
        display: block;
        left: 7px;
        top: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ff5700;
      }
      @media (max-width: 1919px) {
        font-size: 16px;
      }
    }
  }
  p {
    margin-bottom: 40px;
    line-height: 1.5;
    @media (max-width: 1919px) {
      font-size: 16px;
    }
    @media (max-width: 1365px) {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: 1919px) {
    -webkit-line-clamp: 10;
  }
  @media (max-width: 1365px) {
    display: block;
  }
  @media (max-width: 1023px) {
    margin-bottom: 32px;
  }
}

.block-picture__footer {
  margin-top: 40px;
  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    @media (max-width: 1919px) {
      font-size: 18px;
    }
  }
}
