.catalog__wrapper {
  display: flex;
}

.catalog__content {
  width: 100%;
}


.catalog__count {
  display: flex;
  align-items: center;
  span, p {
    font-size: 18px;
    font-weight: 400;
    color: #969696;
    @media (max-width: 1919px) {
      font-size: 16px;
    }
  }
  p {
    @media (max-width: 1023px) {
      display: none;
    }
  }
}