.catalog__wrapper {
  display: flex;
}
.catalog__aside {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  width: 100%;
  flex: 1 0 auto;
  margin-right: 160px;
}



.catalog__content {
  width: 100%;
}
