.item-product {
  //display: flex;
  //align-items: center;
   align-items: center;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 30px;
  width: 100%;
  border: 1px solid #c5c7c4;
  border-radius: 10px;
  margin-bottom: 20px;
  @media (max-width: 1919px) {
    padding: 20px 25px;
  }
}

.item-product__calc {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-left: auto;
  grid-area: basket;

  p {
    margin-right: 20px;
  }

  span {
    margin: 0 20px;
    font-size: 20px;
    font-weight: 500;
  }

  button {
    background-color: #ececec;
    width: 37px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.minus {
      border-radius: 5px 20px 5px 20px;
    }

    &.plus {
      border-radius: 20px 5px 20px 5px;
    }
  }

  &.hide {
    display: none;
  }

  @media (max-width: 1919px) {
    font-size: 20px;
  }
}

.item-product__price {
  font-size: 24px;
  font-weight: 600;
  margin: 0 auto;
  grid-area: price;
  @media (max-width: 1919px) {
    font-size: 20px;
  }
  &--single {
    grid-area: single;
  }
  &--total {
    grid-area: total;
  }
}

.item-product__cross {
  grid-area: cross;
}

.item-product__cross,
.item-product__favorite {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  cursor: pointer;
  @media (max-width: 1919px) {
    width: 40px;
    height: 40px;
  }
}

.item-product__favorite {
  background-image: url("../img/icons/favorite1.svg");
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: favorite;
  margin-left: auto;

  &:hover,
  &.active {
    background-color: #ff5700;
    background-image: url("../img/icons/favorite.svg");
  }
}

.item-product__info {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  flex: 0;
  min-width: 400px;
  //flex-direction: column;
  //grid-area: info;

  //& > * {
  //  margin-bottom: 10px;
  //}
}

.item-product__article {
  display: flex;
  align-items: center;
  margin-right: 40px;
  grid-area: article;

  span {
    font-size: 16px;
    font-weight: 400;
    color: #969696;
    @media (max-width: 1919px) {
      font-size: 14px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 600;
    @media (max-width: 1919px) {
      font-size: 14px;
    }
  }
  @media (max-width: 1919px) {
    margin-right: 30px;
  }
}

.item-product__have {
  display: flex;
  align-items: center;
  font-size: 16px;
  grid-area: have;

  span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #7dc95e;
    margin-right: 15px;
    background-image: url("../img/icons/galka.svg");
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1919px) {
      width: 24px;
      height: 24px;
    }
  }

  &.hide {
    display: none;
  }

  &--none {
    span {
      background-image: url("../img/icons/warning.svg");
      background-color: #f85a50;
    }
  }

  @media (max-width: 1919px) {
    font-size: 14px;
  }
}

.item-product__title {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
  grid-area: title;
  @media (max-width: 1919px) {
    font-size: 18px;
  }
}

.item-product__text {
  font-size: 16px;
  line-height: 1.5;
  @media (max-width: 1919px) {
    font-size: 14px;
  }
}

.item-product__picture {
  //max-width: 166px;
  max-width: 71px;
  margin-right: 30px;
  width: 100%;
  @media (max-width: 1919px) {
    margin-right: 20px;
  }
}

.item-product__description {
  grid-area: description;
}

// каталг карточка товара
.item-product__basket {
  //   margin: 0 auto;
  margin-left: auto;
  margin-right: 40px;
  grid-area: basket;
}
