.main-menu {
  display: none;
  position: absolute;
  padding: 50px;
  grid-gap: 50px 0;
  z-index: 100;
  &.show {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: #fff;
    width: 100%;
    top: calc(100% + 1px);
    left: 100px;
    @media (max-width: 1366px) {
      left: 88px;
    }
    @media (max-width: 1024px) {
      left: 70px;
    }
  }
  p {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.main-menu__item {
  // width: calc(100% / 4);
  // margin-bottom: 50px;
  display: flex;
  li {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55px;
    width: 100%;
    height: 55px;
    flex: 1 0 auto;
    background: #ececec;
    border-radius: 50%;
    margin-right: 30px;
  }
  a {
    &:hover {
      color: #ff5700;
    }
  }
}
