.news-inner {
  date {
    color: #969696;
    margin-bottom: 10px;
    display: block;
    @media (max-width: 1366px) {
      font-size: 16px;
    }
  }
}

.news-inner__wrapper {
  .block-picture__item:first-child {
    @media (max-width: 1024px) {
      order: 1;
    }
  }
  .block-picture__item:last-child {
    @media (max-width: 1024px) {
      display: block;
      order: 0;
      margin-bottom: 20px;
    }
  }
}
