.news-index__item {
  margin: 0 15px;
  img {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
    overflow: hidden;
  }
  date {
    display: block;
    color: rgba(28, 28, 28, 0.5);
    margin-bottom: 10px;
    @media (max-width: 1919px) {
      font-size: 16px;
    }
  }
  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    @media (max-width: 1919px) {
      font-size: 18px;
    }
  }
  @media (max-width: 1919px) {
    margin: 0 10px;
  }
}

.news-index__slider {
  padding: 0 30px;
  .slick-list {
    margin: 0 -15px;
    // margin-bottom: 35px;
    @media (max-width: 1919px) {
      margin: 0 -10px;
    }
    @media (max-width: 1023px) {
      margin-right: -200px;
    }
  }
  @media (max-width: 1023px) {
    padding: 0;
  }
}
