.partners__inner {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1365px) {
    flex-direction: column;
  }
}

.partners__item {
  border: 1px solid #c5c7c4;
  border-radius: 10px;
  padding: 30px;
  width: calc(100% / 4 - 15px);
  display: flex;
  flex-direction: column;
  & > img {
    align-self: center;
    margin-bottom: 30px;
  }
  @media (max-width: 1919px) {
    width: calc(100% / 4 - 20px);
    padding: 20px;
  }
  @media (max-width: 1365px) {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas:
      "pic title"
      "pic text"
      "pic link";
  }
  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
  }
}

.partners__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  grid-area: title;
  @media (max-width: 1919px) {
    font-size: 18px;
  }
  @media (max-width: 1023px) {
    font-size: 20px;
  }
}

.partners__text {
  margin-bottom: 30px;
  grid-area: text;
  line-height: 1.5;
  @media (max-width: 1919px) {
    font-size: 16px;
  }
  @media (max-width: 1365px) {
    margin-bottom: 15px;
  }
}

.partners__link {
  display: flex;
  align-items: center;
  margin-top: auto;
  grid-area: link;
  img {
    width: 45px;
    @media (max-width: 1919px) {
      width: 40px;
    }
  }
  span {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: underline;
    @media (max-width: 1919px) {
      font-size: 18px;
    }
  }
}

.partners__pic {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: pic;
  img {
    @media (max-width: 1919px) {
      // transform: scale(0.6);
    }
    @media (max-width: 1023px) {
      // transform: scale(1);
    }
  }
  @media (max-width: 1919px) {
    height: 100px;
  }
  @media (max-width: 1365px) {
    height: 100%;
    width: 208px;
    margin-right: 15px;
  }
  @media (max-width: 1023px) {
    height: 100px;
    margin-right: 0;
    width: 100%;
  }
}
