.partners-inner__slider {
  .slick-list {
    margin: 0 -15px;
    @media (max-width: 1365px) {
      margin: 0;
    }
    @media (max-width: 1023px) {
      margin-right: -200px;
    }
  }
  // .slick-dots {
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   padding-top: 35px;
  // }
  @media (max-width: 1023px) {
    margin: 0 -8px;
  }
}

.partners-inner__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5c7c4;
  border-radius: 10px;
  height: 130px;
  margin: 0 15px;
  @media (max-width: 1919px) {
    height: 94px;
  }
  @media (max-width: 1023px) {
    margin: 0 8px;
  }
  img {
    @media (max-width: 1919px) {
      transform: scale(0.8);
    }
  }
}

// .partners-inner.inner-block {
//   @media (max-width: 1023px) {
//     margin-bottom: 110px;
//   }
// }
