.tabs__content {
  display: none;
  justify-content: space-between;
  &.active {
    display: flex;
  }
}

.tabs__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  li {
    color: #969696;
    border: 1px solid #969696;
    border-radius: 10px;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 28px;
    &.active {
      color: #ff5700;
      border-color: #ff5700;
      overflow: hidden;
    }
    &:first-child.active {
      margin-right: -20px;
      background: #fff;
      z-index: 1;
    }
    &:last-child.active {
      margin-left: -20px;
      background: #fff;
      z-index: 100;
    }
  }
}