.vacancy-inner__wrapper {
  display: grid;
  grid-gap: 30px 240px;
  //   grid-template-rows: 1fr 1fr 1fr 1fr;
  //   grid-template-columns: 1fr 1fr;
  grid-template-columns: 845px 1fr;
  grid-template-areas:
    "item1 item4"
    "item2 item4"
    "item3 item4"
    "item5 item4";
    @media (max-width: 1919px) {
      grid-template-columns: 589px 1fr;
      grid-gap: 30px 160px;
    }
  @media (max-width: 1365px) {
    display: flex;
    flex-direction: column;
  }
}

.vacancy-inner__block {
  &:nth-child(1) {
    grid-area: item1;
  }
  &:nth-child(2) {
    grid-area: item2;
  }
  &:nth-child(3) {
    grid-area: item3;
  }
  &:nth-child(4) {
    grid-area: item4;
    .vacancy-inner__title {
      @media (max-width: 1023px) {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    li {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    @media (max-width: 1365px) {
      margin-top: 90px;
      order: 10;
    }
  }
  &:nth-child(5) {
    grid-area: item5;
    @media (max-width: 1023px) {
      order: 9;
    }
  }
  &:last-child {
    p {
      font-size: 20px;
      font-weight: 500;
      a {
        color: #ff5700;
        text-decoration: underline;
      }
      @media (max-width: 1919px) {
        font-size: 18px;
      }
    }
  }
  ul {
    li {
      position: relative;
      padding-left: 44px;
      margin-bottom: 10px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #ff5700;
        top: 4px;
        left: 0;
        border-radius: 50%;
      }
      &:last-child {
        margin-bottom: 0;
      }

      &.input-wrapper {
        @media (max-width: 1365px) {
          width: 100%;
        }
      }
      @media (max-width: 1919px) {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
  form {
    ul {
      li {
        @media (max-width: 1365px) {
          width: calc(100% / 2 - 10px);
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            width: calc(100% / 3 - 10px);
          }
        }
        @media (max-width: 1023px) {
          width: 100%;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            width: 100%;
          }
        }
      }
      @media (max-width: 1365px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @media (max-width: 1023px) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }
  input {
    // margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #c5c7c4;
    padding: 0 30px;
    min-height: 67px;
    width: 100%;
    &[type="file"] {
      border-color: transparent;
      min-height: auto;
      width: auto;
      padding: 0;
      margin: 0;
    }
    &:focus {
      outline: none;
    }
    @media (max-width: 1365px) {
      min-height: 60px;
    }
    @media (max-width: 1023px) {
      min-height: 56px;
      padding: 0 16px;
    }
  }
  .consent {
    line-height: 1.5;
    margin-bottom: 40px;
    a {
      text-decoration: underline;
      color: #ff5700;
    }
    @media (max-width: 1919px) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}

.vacancy-inner__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  // text-transform: uppercase;
  @media (max-width: 1919px) {
    font-size: 18px;
    margin-bottom: 12px;
  }
  &--mode {
    @media (max-width: 1365px) {
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
