.aside 
    ul 
        li
            a(href="") 
                span
                    img(src="img/aside/1.svg" alt="")
                p Строительные материалы 
        li
            a(href="") 
                span
                    img(src="img/aside/2.svg" alt="")
                p Спецтехника
        li
            a(href="") 
                span
                    img(src="img/aside/3.svg" alt="")
                p Минизаводы
        li
            a(href="") 
                span
                    img(src="img/aside/4.svg" alt="")
                p Удобрения и агрохимия
        li
            a(href="") 
                span
                    img(src="img/aside/5.svg" alt="")
                p Сельхозтехника
        li
            a(href="") 
                span
                    img(src="img/aside/6.svg" alt="")
                p Фермерское оборудование
        li
            a(href="") 
                span
                    img(src="img/aside/7.svg" alt="")
                p Поливочные системы