.catalog__aside.catalog-aside
    //- бренды
    .catalog-aside__block
        .catalog-aside__caption.toggle.active
            p Бренд:
            img(src="img/icons/arrow.svg" alt="")
        ul
            li
                input(type="checkbox" id="inp1")
                label(for="inp1") ALPEGO
            li
                input(type="checkbox" id="inp2")
                label(for="inp2") BECKER
            li
                input(type="checkbox" id="inp3")
                label(for="inp3") ALPEGO
            li
                input(type="checkbox" id="inp4")
                label(for="inp4") BECKER
            li
                input(type="checkbox" id="inp5")
                label(for="inp5") BECKER
            li
                input(type="checkbox" id="inp6")
                label(for="inp6") BECKER
            li
                input(type="checkbox" id="inp7")
                label(for="inp7") BECKER
    //- категория
    .catalog-aside__block
        .catalog-aside__caption.toggle.active
            p Категория:
            img(src="img/icons/arrow.svg" alt="")
        ul
            li Для тракторов
            li Для комбайнов
            li Для тракторов
            li Для комбайнов
            li Для тракторов
            li Для комбайнов
            li Для тракторов
            li Для комбайнов
    //- наличие в магазинах
    .catalog-aside__block
        .catalog-aside__caption.toggle.active
            p Наличие в магазинах:
            img(src="img/icons/arrow.svg" alt="")
        ul
            li
                input(type="radio" id="radio10" name="radio")
                label(for="radio10") Только в наличии
            li
                input(type="radio" id="radio20" name="radio")
                label(for="radio20") Под заказ
    //- цена
    .catalog-aside__block.catalog-aside__price
        .catalog-aside__caption
            p Цена:
        .catalog-aside__price
            input(type="text" placeholder="1 000")
            span -
            input(type="text" placeholder="100 000")
            div.catalog-aside__slide
                span.catalog-aside__dot
                span.catalog-aside__back

    //- страна производитель
    .catalog-aside__block
        .catalog-aside__caption.toggle.active
            p Страна производитель:
            img(src="img/icons/arrow.svg" alt="")
        ul
            li
                input(type="checkbox" id="checkbox100")
                label(for="checkbox100") Германия
            li
                input(type="checkbox" id="checkbox101")
                label(for="checkbox101") США
            li
                input(type="checkbox" id="checkbox102")
                label(for="checkbox102") Россия
            li
                input(type="checkbox" id="checkbox103")
                label(for="checkbox103") Россия
            li
                input(type="checkbox" id="checkbox104")
                label(for="checkbox104") Россия