header.header
    .header__inner
        .header__burger
            img(src="img/burger.svg", alt="")
        a.header__logo(href="")
            img(src="img/logo.svg", alt="логотип")
        nav.header__nav
            ul
                li
                    a(href="") Запасные части
                li
                    a(href="") Сервис
                li
                    a(href="") Новости
                li
                    a(href="") Компания
                li
                    a(href="") Контакты
                li
                    a(href="") ЛК
        .header__contacts
            a(href="emailto: info@agrariy.center") info@agrariy.center
            a(href="tel+78004443400") 8 800 444 34 00
        .header__call
            button Заказать звонок
h1.visually-hidden Аграрий