nav.header__nav
    ul
        li
            a.nav-catalog(href="catalog.html") Запасные части
        li
            a(href="service.html") Сервис
        li.mode
            a Новости
            ul
                li
                    a(href="news.html") Новости
                li
                    a(href="sales.html") Акции
                li
                    a(href="articles.html") Статьи
        li.mode
            a Компания
            ul
                li
                    a(href="about.html") О компании
                li
                    a(href="sertificats.html") Сертификаты и лицензии
                li
                    a(href="documents.html") Документы
                li
                    a(href="vacancy.html") Вакансии
                li
                    a(href="partners.html") Партнеры
                li.angle.mode
                    a Галерея
                    ul.subsubmenu 
                        li
                            a(href="gallery2.html") Фотогалерея
                        li
                            a(href="gallery.html") Видеогалерея
        li
            a(href="contacts.html") Контакты
        li.header__call 
            a Обратный звонок
    a.lk#buttonLk ЛК