nav.header__nav
    ul
        li
            a(href="") Каталог
        li
            a(href="") Сервис
        li.mode
            a Новости
            ul.submenu 
                li
                    a(href="news.html") Новости
                li
                    a(href="sales.html") Акции
                li
                    a(href="articles.html") Статьи
        li.mode
            a Компания
            ul.submenu
                li
                    a(href="about.html") О компании
                li
                    a(href="sertificats.html") Сертификаты и лицензии
                li
                    a(href="documents.html") Документы
                li
                    a(href="job.html") Вакансии
                li
                    a(href="partners.html") Партнеры
                li.angle
                    a Галерея
                    ul.subsubmenu 
                        li
                            a(href="gallery2.html") Фотогалерея
                        li
                            a(href="gallery") Видеогалерея
        li
            a(href="contacts.html") Контакты
    a(href="lk.hmtl").lk#buttonLk ЛК