.questions-inner.inner-block 
    .questions-inner__wrapper 
        .questions-inner__block
            img(src="img/questions/graphic.png" alt="")
        .questions-inner__block
            .questions-inner__header.inner-block__header 
                h2.title Есть вопросы?
            form.questions-inner__form
                input(type="text" placeholder="ФИО")
                input.phone-input(type="text" placeholder="+7(___) ___-__-__")
                textarea(placeholder="Ввелите свой вопрос")
                p Нажимая отправить, я принимаю условия <a href="">пользовательского соглашения</a> и условия обработки <a href="">персональных данных</a>
                button(type="submit").questions-inner__button.button Задать вопрос
