doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                include modules/aside
                .content

                    .notfound 
                        img(src="img/404.svg", alt="")
                        h1.inner-block__title NOT FOUND
                        p Страница, которую вы запрашиваете не найдена
                        a(href="/").button На главную


            include modules/footer
        include modules/script