doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                include modules/aside
                .content
                    .breadcrumbs
                        ul
                            li
                                a(href="/") Главная 
                            li
                                span |
                            li
                                a Корзина

                    .basket.inner-block
                        .inner-block__header
                            h1.inner-block__title Корзина
                        .basket__wrapper
                            //- item basket
                            .basket__item.item-product
                                .item-product__picture
                                    img(src="img/basket/item.jpg")
                                .item-product__info
                                    p.item-product__title Колесо FARMFLEX 023270.03 330x50
                                    .item-product__article
                                        span Артикул:&nbsp;
                                        p 023270.03
                                    .item-product__have
                                        span

                                        p В наличии
                                    //.item-product__text
                                    //    p 023270.03 Колесо в сборе
                                    //    p FARMFLEX/330x50/LR/63S/PB/C2/16X44/FKL/RAL9005
                                .item-product__price
                                    span 5 574
                                        i ₽
                                .item-product__calc
                                    button.minus
                                        img(src="img/icons/minus.svg" alt="")
                                    span 2
                                    button.plus
                                        img(src="img/icons/plus.svg" alt="")
                                .item-product__price
                                    span 11 148
                                        i ₽
                                .item-product__cross
                                    img(src="img/icons/cross2.svg" alt="")

                        .basket__footer
                            p Итого к оплате:
                            p.basket__fullprice 18 253 ₽
                            div
                            button.button Оформить заказ






        include modules/footer
        include modules/script