doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                include modules/aside
                .content
                    .breadcrumbs
                        ul
                            li
                                a(href="/") Главная 
                            li
                                span |
                            li
                                a(href="") Запасные части

                    .catalog.inner-block
                        .inner-block__header
                            h1.inner-block__title Запасные части
                            .catalog__count
                                span 5&nbsp;218
                                p &nbsp;товаров
                        .catalog__wrapper
                            include modules/catalog-aside-mobile
                            include modules/catalog-sort__mobile
                            include modules/catalog-aside
                            .catalog__content.catalog-content
                                .search.search--inner
                                    input(type="search" placeholder="Поиск")
                                .catalog-content__filter
                                    .catalog-content__filter-btn
                                        span Фильтр
                                        img(src="img/icons/filter.svg")
                                    .catalog-content__sort-btn
                                        span Сортировка
                                        img(src="img/icons/sort.svg")
                                    .price-up#priceUp
                                        p По возростанию цены
                                        img(src="img/icons/arrow.svg" alt="")
                                        .price-up__down
                                            p По убыванию цены
                                            p По алфавиту
                                    .catalog-content__buttons
                                        button.active
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2" y="3" width="20" height="3" rx="1" fill="#C5C7C4"/><rect x="2" y="10" width="20" height="3" rx="1" fill="#C5C7C4"/><rect x="2" y="18" width="20" height="3" rx="1" fill="#C5C7C4"/></svg>
                                        button
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2" y="2" width="9" height="9" rx="1" fill="#C5C7C4"/><rect x="2" y="13" width="9" height="9" rx="1" fill="#C5C7C4"/><rect x="13" y="2" width="9" height="9" rx="1" fill="#C5C7C4"/><rect x="13" y="13" width="9" height="9" rx="1" fill="#C5C7C4"/></svg>
                                        button
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="8" y="3" width="14" height="3" rx="1" fill="#C5C7C4"/><rect x="8" y="10" width="14" height="3" rx="1" fill="#C5C7C4"/><rect x="8" y="18" width="14" height="3" rx="1" fill="#C5C7C4"/><rect width="3" height="3" rx="1" transform="matrix(-1 0 0 1 5 3)" fill="#C5C7C4"/><rect width="3" height="3" rx="1" transform="matrix(-1 0 0 1 5 10)" fill="#C5C7C4"/><rect width="3" height="3" rx="1" transform="matrix(-1 0 0 1 5 18)" fill="#C5C7C4"/></svg>
                                .catalog-content__main
                                    .catalog-content__wrapper.catalog-content__wrapper--filter1
                                        //item
                                        .item-product.item-product--cart
                                            .item-product__picture-cart
                                                img(src="img/catalog/item1.png")
                                            //.item-product__info
                                            p.item-product__title Колесо FARMFLEX 023270.03 330x50
                                            .item-product__article
                                                span Артикул:&nbsp;
                                                p 0232700232701245
                                            .item-product__have
                                                span
                                                p В наличии
                                            .item-product__description
                                                p FARMFLEX/330x50/LR/63S/PB/C2/16X44/FKL/RAL9005/FARMFLEX/330x50/LR/63S/PB/C2/FARMFLE...
                                            .item-product__price
                                                span 5 574
                                                    i ₽
                                            .item-product__favorite
                                            button.button.item-product__basket В корзинy
                                            .item-product__calc.hide
                                                p В корзине
                                                button.minus
                                                    img(src="img/icons/minus.svg" alt="")
                                                span 2
                                                button.plus
                                                    img(src="img/icons/plus.svg" alt="")
                                        //item
                                        .item-product.item-product--cart
                                            .item-product__picture-cart
                                                img(src="img/catalog/item1.png")
                                            //.item-product__info
                                            p.item-product__title Колесо FARMFLEX 023270.03 330x50
                                            .item-product__article
                                                span Артикул:&nbsp;
                                                p 0232700232701245
                                            .item-product__have
                                                span
                                                p В наличии
                                            .item-product__description
                                                p FARMFLEX/330x50/LR/63S/PB/C2/16X44/FKL/RAL9005/FARMFLEX/330x50/LR/63S/PB/C2/FARMFLE...
                                            .item-product__price
                                                span 5 574
                                                    i ₽
                                            .item-product__favorite
                                            button.button.item-product__basket В корзинy
                                            .item-product__calc.hide
                                                p В корзине
                                                button.minus
                                                    img(src="img/icons/minus.svg" alt="")
                                                span 2
                                                button.plus
                                                    img(src="img/icons/plus.svg" alt="")






                                .pagination
                                    a.active 1
                                    a 2
                                    a 3
                                    a ...
                                    a 120
                                    a
                                        img(src="img/icons/arrow.svg" alt="")


                        #topscroll
                            img(src="img/icons/arrow.svg" alt="скролл на верх")

            include modules/footer
        include modules/script