doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                include modules/aside
                .content
                    .breadcrumbs 
                        ul 
                            li
                                a(href="/") Главная 
                            li 
                                span |
                            li 
                                a(href="news.html") Новости
                            li 
                                span |
                            li
                                a Поздравляем С Новым Годом! 

                    .news-inner.inner-block
                        date 1 января 2022
                        .news-inner__wrapper
                            .news-inner__block
                                .inner-block__header.news-inner__title
                                    h1.title Поздравляем С Новым Годом!
                                .news-inner__text
                                    p Коллектив ООО «Аграрий» сердечно поздравляет всех с наступающим Новым Годом и Рождеством! Мы искренне желаем, чтобы в новом 2022-м году вам покорились все намеченные вершины и реализовались все, даже самые амбициозные, планы. Мы желаем, чтобы в Новом году вся ваша техника работала исправно, а узлы и механизмы не знали износа. От всей души желаем вам хорошо провести Новогодние каникулы и с нетерпением ждём встречи в новом году!
                            .news-inner__picture
                                img(src="img/pictures/1.jpg" alt="")
            include modules/footer
        include modules/script