doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                include modules/aside
                .content
                    .breadcrumbs 
                        ul 
                            li
                                a(href="/") Главная 
                            li 
                                span |
                            li 
                                a Новости

                    .news.inner-block
                        .inner-block__header
                            h1.inner-block__title Новости
                        .news__wrapper 
                            a(href="news-inner.html").news__item
                                img(src="img/news/5.jpg" alt="")
                                date 1 января 2022
                                p Поздравляем С Новым Годом!
                            a(href="news-inner.html").news__item
                                img(src="img/news/5.jpg" alt="")
                                date 1 января 2022
                                p Поздравляем С Новым Годом!
                            a(href="news-inner.html").news__item
                                img(src="img/news/5.jpg" alt="")
                                date 1 января 2022
                                p Поздравляем С Новым Годом!

            include modules/footer
        include modules/script