doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                include modules/aside
                .content
                    .breadcrumbs 
                        ul 
                            li
                                a(href="/") Главная 
                            li 
                                span |
                            li
                                a(href="") Компания
                            li 
                                span |
                            li 
                                a Лицензии и сертификаты

                    .sertificats.inner-block
                        .inner-block__header
                            h1.inner-block__title Лицензии и сертификаты
                        .sertificats__wrapper 
                            .sertificats__item
                                p Сертификат соответствия требованиям «Технический регламент о требованиях пожарной безопасности»
                                a.hover(href="" download)
                                    span PDF 
                                    img(src="img/icons/download2.svg" alt="")
                            .sertificats__item
                                p Сертификат соответствия требованиям «Технический регламент о требованиях пожарной безопасности»
                                a.hover(href="" download)
                                    span PDF 
                                    img(src="img/icons/download2.svg" alt="")
                            .sertificats__item
                                p Сертификат соответствия требованиям «Технический регламент о требованиях пожарной безопасности»
                                a.hover(href="" download)
                                    span PDF 
                                    img(src="img/icons/download2.svg" alt="")
                            .sertificats__item
                                p Сертификат соответствия требованиям «Технический регламент о требованиях пожарной безопасности»
                                a.hover(href="" download)
                                    span PDF 
                                    img(src="img/icons/download2.svg" alt="")
                            .sertificats__item
                                p Лицензия на осуществление торговой деятельности
                                a.hover(href="" download)
                                    span PDF 
                                    img(src="img/icons/download2.svg" alt="")
                            .sertificats__item
                                p На осуществление работ с использованием сведений, составля-ющих государственн...
                                a.hover(href="" download)
                                    span PDF 
                                    img(src="img/icons/download2.svg" alt="")




            include modules/footer
        include modules/script