doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                include modules/aside
                .content
                    .breadcrumbs 
                        ul 
                            li
                                a(href="/") Главная 
                            li 
                                span |
                            li
                                a(href="") Компания
                            li 
                                span |
                            li 
                                a Вакансии

                    .vacancy.inner-block
                        .inner-block__header
                            h1.inner-block__title Вакансии
                        .vacancy__wrapper 
                            a.hover(href="vacancy-inner.html").vacancy__item
                                span Старший менеджер проектов
                                button.arrow2 
                            a.hover(href="vacancy-inner.html").vacancy__item
                                span Сборщик электрических машин и аппаратов
                                button.arrow2 
                            a.hover(href="vacancy-inner.html").vacancy__item
                                span Руководитель сервисного центра
                                button.arrow2 
                            a.hover(href="vacancy-inner.html").vacancy__item
                                span Механик-автослесарь
                                button.arrow2 
                            a.hover(href="vacancy-inner.html").vacancy__item
                                span Руководитель сервисного центра
                                button.arrow2 

                    include modules/questions




            include modules/footer
        include modules/script